.App {
  width: 100vw;
  height: 100vh;
  background-color: #FF3F00;
  /*background-image: url('/src/images/fundo_place_holder.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}
App-header{
  background-color: #FF3F00;
}
